body {
  font-family: system-ui, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
